
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
            font-family: Arial, sans-serif;
            flex-direction: column;
        }
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        .container {
            text-align: center;
        }
        input {
            display: block;
            width: 250px;
            padding: 10px;
            margin: 10px auto;
            border-radius: 10px;
            border: none;
            background-color: #eee;
        }
        button {
            background-color: #c3c8fc;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
        }
